
extends ../layout



block content

    a(href="/pokemons") Volver

    br

    br

    br

    h1 Nuevo Pokemon

    br

    br

    form(action="/pokemons/create" method="post")

        label(for="id") ID:

        input#id(type="text" name="id")

        br

        label(for="nombre") Nombre:

        input#id(type="text" name="nombre")

        br

        label(for="ataque") Ataque:

        input#id(type="text" name="ataque")

        br

        label(for="defensa") Defensa:

        input#id(type="text" name="defensa")

        br

        br

        input.btn(type="submit" value="OK")