extends ../layout

block content

    a(href="/pokemons/create") Nuevo pokemon

    table.table

        thead

            tr

                th(scope='col') #

                th(scope='col') Nombre

                th(scope='col') Ataque

                th(scope='col') Defensa

        tbody

            each poke in pokes

                tr

                    td(scope='row')= poke.id

                    td= poke.nombre

                    td= poke.ataque

                    td= poke.defensa

                        form.inline(method='post' action='pokemons/' + poke.id + '/delete')

                            input(type='hidden' name='id' value=poke.id)

                            button.link-button(type='submit' class='btn')

                                ='Eliminar'

                                
                        form.inline(method='get' action='pokemons/' + poke.id + '/update')

                            input(type='hidden' name='id' value=poke.id)

                            button.link-button(type='submit' class='btn')

                                ='Editar'