
extends ../layout



block content

    a(href="/pokemons") Volver

    br

    br

    br

    h1 Modificando Pokemon

    br

    br

    form(action=`/pokemons/${poke.id}/update` method="post")

        label(for="id") ID:

        input#id(type="text" name="id" value=poke.id)

        br

        label(for="nombre") Nombre:

        input#color(type="text" name="nombre" value=poke.nombre)

        br

        label(for="ataque") Ataque:

        input#modelo(type="text" name="ataque" value=poke.ataque)

        br

        label(for="defensa") Defensa:

        input#latitud(type="text" name="defensa" value=poke.defensa)

        br

        br

        input.btn(type="submit" value="OK")